<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view>
        <ui:insert name="metadata"/>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="./css/default.css" rel="stylesheet" type="text/css" />
            <link href="./css/layout.css" rel="stylesheet" type="text/css" />
            <ui:insert name="styles"/>
            <title>IF6AE - Segunda Avaliação 2016-2</title>
        </h:head>

        <h:body>
            <ui:insert name="javascript"/>
            <table class="table_layout">
                <tr>
                    <td class="left_filler"/>
                    <td id="top">
                        <ui:insert name="top">
                            <a href="http://www.ct.utfpr.edu.br" target="_blank"><img src="imagens/header.jpg" alt=""/></a>
                        </ui:insert>
                    </td>
                    <td class="right_filler"/>
                </tr>
                <tr>
                    <td class="left_filler"/>
                    <td id="content">
                        <ui:insert name="content">Content</ui:insert>
                    </td>
                    <td class="right_filler"/>
                </tr>
                <tr id="bottom">
                    <td class="left_filler"/>
                    <td>
                        <ui:insert name="bottom">
                            <div class="bottom_content">
                            </div>
                        </ui:insert>
                    </td>
                    <td class="right_filler"/>
                </tr>
            </table>
        </h:body>
    </f:view>
</html>
